[submodule "submodules/django-pro-history"]
	path = submodules/django-pro-history
	url = git://github.com/feroda/django-pro-history.git
	ignore = dirty
[submodule "submodules/django-flexi-auth"]
	path = submodules/django-flexi-auth
	url = git://github.com/feroda/django-flexi-auth.git
	ignore = dirty
[submodule "submodules/django-notification"]
	path = submodules/django-notification
	url = https://github.com/feroda/django-notification.git
	ignore = dirty
[submodule "submodules/django-simple-accounting"]
	path = submodules/django-simple-accounting
	url = git://github.com/feroda/django-simple-accounting.git
	ignore = dirty
