[submodule "submodules/django-pro-history"]
	path = submodules/django-pro-history
	url = git://github.com/feroda/django-pro-history.git
[submodule "submodules/django-simple-accounting"]
	path = submodules/django-simple-accounting
	url = git://github.com/seldon/django-simple-accounting.git
[submodule "submodules/django-flexi-auth"]
	path = submodules/django-flexi-auth
	url = git://github.com/seldon/django-flexi-auth.git
[submodule "submodules/django-askbot"]
	path = submodules/django-askbot
	url = git://github.com/feroda/askbot-devel.git
