Django<1.4
psycopg2<2.4.2
django-permissions>=1.0
django-workflows>=1.0
South>=0.7.3
Sphinx>=0.6.6
pisa>=3.0.32
xhtml2pdf
pysqlite>=1.0.1
-e git+https://github.com/feroda/django-pro-history.git#egg=django-pro-history
file:../gasistafelice/extra/django-simple-accounting
file:../gasistafelice/extra/django-flexi-auth
file:../gasistafelice/extra/django-notification
