#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 35px;
  min-width: 100%;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  /*background-color: #f5f5f5;*/
  background-color: black;
  text-align:center;
  font-family:Verdana;
  font-size: 11px;
  width:100%;
}


#wrap > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 5px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 100%;
}

.userbar{
	border-radius:0px;
  border-right:0;
}

.tab-gas{
 border-left: 1px solid #ddd;
 /*border-right:1px solid #ddd;*/
 border-bottom: 1px solid #ddd;
 /*height:100%;*/
 border-top-left-radius: 0px;
 padding-top:5px;
 padding-left:5px;
 padding-right:5px; 
}

#hideblock,#showblock a{
  text-decoration: none;
}

.change{
  vertical-align: center;
  text-align:center;
  float:right;
}

.scrollable {
    overflow-y: scroll;
}

.bodycontainer {
    height: 100px !important;
    width: 100%;
}

thead { display:block;}
tbody { display:block; overflow:auto; height:300px;}
th { height:50px; width:150px;}
td { height:50px; width:150px;}

.maxwidth{
  min-width: 100%;
}

/*#showblock{
  visibility:hidden;
}*/

.first_block{
	margin-bottom:5px;
	/*overflow-x:scroll;*/
}

.chver{
  margin-left: 10px;
}

.cont-gas{
    height: 100%;
    margin-left:0px;
    min-width: 100%;
}

html,body{
    height:100%;
    margin:0;
    min-width:100%;
    width:100%;
}

.navbar{
	/*padding-top:2px;*/
}