{% extends "base.html" %}
{% load url from future %}
{% load gas_base %}

{% block extraheads %}
<link href="/media/css/base.css" type="text/css" rel="stylesheet" />
<style type="text/css">
    .box { border: 1px solid lightgrey; background-color: white; color: black; padding:0.5em; }
    .traditional-list { margin-left: 2em; padding:0.2em;}
    ol.traditional-list { list-style-type:upper-roman; }
    ul.traditional-list { list-style-type:circle; }
    li.traditional-list.true { list-style-image : url("/media/img/admin/icon-yes.gif"); }
    li.traditional-list.false { list-style-image : url("/media/img/admin/icon-no.gif"); }
    .done { text-decoration : line-through; }

    td {
        color:blue; 
        line-height: 2.0em; 
        font-size: 16px;
        text-align:center;
    }
    
    h1 { color:gray; 
        line-height: 2.5em; 
        font-size: 20px; 
        text-align:center;
       }
    
    h2 { color:lightblue; 
        line-height: 1.5em; 
        font-size: 16px; 
        text-align:left;
       }
</style>

{% endblock %}

{% block content %}
{% if messages %}
<ul class="messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<span><img src="/static/img/logo_cliente.png" ></span>
<!--was <h1> Gasista Felice - HappyGAS :)</h1> -->
<div style="clear:both;"> </div>
<table>
    <tr><td>

        <div style="margin: 2em 0.5em;">
        {% if form.errors %}
        {{ form.non_field_errors }}
        <p>Tieni presente che potresti non accedere perché ancora non hai alcun ruolo nel DES.<br />
        Fatti assegnare un ruolo dal referente informatico di un GAS con cui sei in contatto.
        A presto allora!</p>
        {% endif %}

        <form method="post" action="{% url 'des.views.login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <fieldset style="text-align:center; border:0px">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        </form>
        </div>
    </td><td>
        <div class="box">
            <h1 style="margin:auto; text-align:center">
                <p>Se non hai accesso</p>
                <p><a href="{% url 'des.views.registration' %}">Registrati ora</a></p>
            </h1>
            <div style="clear:both"> </div>
        </div>
    </td></tr>
</table>

<div>
<h1 style="margin-top: 1em; padding:0.2em;">
    Installazione a disposizione di:
</h1>

<div style="clear:both;">

<table style="border:2px solid lightgrey">
    <thead>
        <th style="text-align:center;font-size: 18px; ">GAS</th>
        <th style="text-align:center;font-size: 18px;" >Città</th>
        <th style="text-align:center;font-size: 18px;">Ordini</th>
        <th style="text-align:center;font-size: 18px;">Flusso economico solidale</th>
    </thead>
{% for g in gas_list %}
    {% render_gas_as_tr g %}
{% endfor %}
</table>


<h1>e di tutti i G.A.S. che vorranno iscriversi al DES {{ des }}</h1>

<h2>Le novità principali della 0.10</h2>

<div style="margin-left:2em;">
<ul>
<li>Ordini InterGAS
</li><li>Velocizzazione del calcolo dei saldi economici
</li><li>Gestione appartenenza GAS <-> MultiGAS
</li><li>Migliorate le notifiche mail ai gasisti e ai referenti fornitore
</li><li>Chiusura ed invio automatico del report PDF al fornitore e referente
fornitore (se configurato nel GAS e nel patto)
</li><li>FIX nella creazione del report PDF
</li><li>Resa coerente la configurazione dei ruoli (anche se ancora da migliorare)
</li>
</ul>
</div>

{% endblock %}
