#!/bin/bash

# Questo script consente di passare i comandi presi come parametro al manage.py

if [ -z "$1" ]; then
    echo "Usage: $0 <command to pass to manage.py> [parameters,...]"
    exit 100;
fi

GF_HOME=/usr/local/gasistafelice
VENV=desmacerata

export WORKON_HOME=/var/lib/virtualenvs
source /usr/local/bin/virtualenvwrapper.sh
workon $VENV

cd $GF_HOME;
/usr/bin/env python manage.py $@

