{% extends "base.html" %}
{% load i18n %}

{% block content %} 
<div style="margin:auto; text-align:center">
    <h2>Ci dispiace, ma si è verificato un errore del tutto anomalo</h2>

    <div style="float:left">
        <img width="128" height="128" src="http://www.gravatar.com/avatar/00aca8e55b1383f92d546f3fafe459ab.png" alt="Immagine gravatar per feroda" title="Luca `fero` Ferroni">
    </div>
    <div style="float:right">
        <img width="128" height="128" alt="Immagine gravatar per domthu " title="domthu" src="http://www.gravatar.com/avatar/01e91f164d95275195205445780a1f19?s=128&amp;d=identicon&amp;r=PG" class="gravatar">
    </div>

    <p style="font-size:x-small; font-style:italic; color:darkgreen">Complimenti, sei un genio, hai trovato un bug</p>

    <p>Ti preghiamo di segnalarlo al gruppo informatico del DES, attraverso il forum 
    <a href="http://dialogo.desmacerata.it">http://dialogo.desmacerata.it</a>
    </p>
</div>
{% endblock %}


