<settings><config name="debug"              value="{{ isdebug }}"   /><config name="startup"            value="rest/{{type}}/{{id}}/"/><config name="user"               value="{{user}}"        /><config name="usercontainerbase"  value="{{ base_usercontainer_id }}"/><config name="url_prefix"         value="{{url_prefix}}"  /><config name="site_id"            value="{{ site_id }}"   /><config name="site_name"          value="{{ site_name }}" /></settings>
