<script>
$("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
});
</script>

<div class="tab-pane" id="paniere">

    <div class="ord-ord-title">Il tuo paniere</div>
        <div class="searchbar">
          <span class="font-searchbar"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="searchbar-text" id="search-bar-open" placeholder="Cerca tra i prodotti" ng-model="searchQueryOpen"/>
      </div>

    <form>

    <table class="table gas">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th scope="col" ng-click="basket.sorting='order_shortname'; basket.reverseSort = !basket.reverseSort">Ordine
              <span ng-show="basket.sorting == 'order_shortname'" class="listorder">
                <span ng-show="!basket.reverseSort"><i class="fa fa-sort-desc"></i></span>
                <span ng-show="basket.reverseSort"><i class="fa fa-sort-asc"></i></span>
              </span>
            </th>
            <!-- <th>Stato</th>  -->
            <th scope="col" ng-click="basket.sorting='supplier'; basket.reverseSort = !basket.reverseSort">Fornitore
              <span ng-show="basket.sorting == 'supplier'" class="listorder">
                <span ng-show="!basket.reverseSort"><i class="fa fa-sort-desc"></i></span>
                <span ng-show="basket.reverseSort"><i class="fa fa-sort-asc"></i></span>
            </span>
            </th>
            <th scope="col" ng-click="basket.sorting='name'; basket.reverseSort = !basket.reverseSort">Prodotto
              <span ng-show="basket.sorting == 'name'" class="listorder">
                <span ng-show="!basket.reverseSort"><i class="fa fa-sort-desc"></i></span>
                <span ng-show="basket.reverseSort"><i class="fa fa-sort-asc"></i></span>
            </span>
            </th>
            <th>Prezzo (€)</th>
            <th>Quantit&agrave;</th>
            <th>Totale</th>
            <th style="text-align:center">Cancella</th>
        </tr>
    </thead>
    <tbody ng-hide="basket.dataLoaded">
        <tr><td colspan="8">
            <p style="text-align:center" ng-hide="basket.dataLoaded">
            Aspetta che carico il paniere... <i class="fa fa-spinner fa-spin"></i>
            </p>
        </td></tr>
    </tbody>

    <tbody ng-show="basket.pm.basket_empty">
        <tr><td colspan="8">
            <p style="text-align:center">Il paniere è vuoto </p>
        </td></tr>
    </tbody>

    <tbody ng-show="basket.dataLoaded">
    <tr ng-repeat="item in basket.open_ordered_products | filter: searchQueryOpen | orderBy:basket.sorting:basket.reverseSort" class="{{item.order_state}}">

        <!-- <td data-title="image" class="tdprod">{{item.id}}</td> -->
        <td data-title="image" class="tdprod">{{item.order_shortname}}</td>
        <td data-title="image" class="tdprod">{{item.supplier}}</td>
        <td data-title="image" class="tdprod">{{item.name}}</td>
        <td data-title="image" class="tdprice">{{item.price|currency:"€"}}</td>
        <td data-title="add_cart" class="tdprod" style="width:10%;" ng-show="item.can_update">
            <div class="input-group">
                <span class="opcart_left menu_links" ng-click="basket.pm.decrement(item);">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            <input type="text" class="form-control" ng-blur="basket.pm.change(item);" ng-model="item.quantity" name="form-{{$index}}-ordered_amount" id="form-{{$index}}-ordered_amount"/>
                <span class="opcart_right menu_links" ng-click="basket.pm.increment(item);">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </div>
        </td>
        <td data-title="image" class="tdprod" ng-show="!item.can_update">{{item.quantity}}</td>
        <td class="tdprice"> {{item.quantity * item.price|currency:"€"}}</td>
        <td class="tdprice">
            <fieldset ng-show="item.can_update">
                <input name="checkbox_{{$index}}" id="checkbox_{{$index}}"
                    ng-model="item.enabled" type="checkbox">
            </fieldset>
        </td>
    </tr>
    </tbody>
    </table>

    <!-- TODO transform to <tfoot> of the previous table -->
    <table class="table total">
        <tr>
            <td>
                <button class="btn btn-default btn-lg def-btn" ng-click="basket.pm.updateCart(basket.open_ordered_products);" type="button" id="btn-admin" aria-label="Gestione" style="width:200px; margin:auto;">
                <span class="glyphicon glyphicon-shopping-cart" id="glyph-admin" aria-hidden="true"></span>
                    Aggiungi al paniere
                </button>
            </td>
            <td style="white-space: nowrap; width:20%"> Totale previsto: </td>
            <td class="tableprice"> <b>€ {{ basket.pm.getTotal(basket.open_ordered_products) }}</b> </td>
        </tr>
    </table>

    </form>

  <div class="ord-ord-title">Paniere da consegnare</div>
        <div class="searchbar">
          <span class="font-searchbar"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="searchbar-text" id="search-bar-closed" placeholder="Cerca tra i prodotti" ng-model="searchQueryClosed"/>
      </div>
    <table class="table gas">
          <thead>
            <tr>
              <th scope="col" ng-click="basket.tbd_sorting='order_shortname'; basket.tbd_reverseSort = !basket.tbd_reverseSort">Ordine
                  <span ng-show="basket.tbd_sorting == 'order_shortname'" class="listorder">
                    <span ng-show="!basket.tbd_reverseSort"><i class="fa fa-sort-desc"></i></span>
                    <span ng-show="basket.tbd_reverseSort"><i class="fa fa-sort-asc"></i></span>
                </span>

                </th>
              <th scope="col" ng-click="basket.tbd_sorting='supplier'; basket.tbd_reverseSort = !basket.tbd_reverseSort">Fornitore
                  <span ng-show="basket.tbd_sorting == 'supplier'" class="listorder">
                    <span ng-show="!basket.tbd_reverseSort"><i class="fa fa-sort-desc"></i></span>
                    <span ng-show="basket.tbd_reverseSort"><i class="fa fa-sort-asc"></i></span>
                </span>
                </th>
              <th scope="col" ng-click="basket.tbd_sorting='name'; basket.tbd_reverseSort = !basket.tbd_reverseSort">Prodotto
                  <span ng-show="basket.tbd_sorting == 'name'" class="listorder">
                    <span ng-show="!basket.tbd_reverseSort"><i class="fa fa-sort-desc"></i></span>
                    <span ng-show="basket.tbd_reverseSort"><i class="fa fa-sort-asc"></i></span>
                </span>
                </th>
              <th scope="col">Prezzo</th>
              <th scope="col">Quantit&agrave;</th>
              <th scope="col">Totale</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in basket.closed_ordered_products | filter: searchQueryClosed | orderBy:basket.tbd_sorting:basket.tbd_reverseSort">
              <td data-title="image" class="tdprod">{{item.order_shortname}}</td>
              <td data-title="image" class="tdprod">{{item.supplier}}</td>
              <td data-title="image" class="tdprod">{{item.name}}</td>
              <td data-title="image" class="tdprod">{{item.price|currency:"€"}}</td>
              <td data-title="image" class="tdprod">{{item.quantity}}</td>
              <td data-title="image" class="tdprod">{{item.quantity * item.price|currency:"€"}}</td>
            </tr>
          </tbody>
    </table>
    <!-- TODO transform to <tfoot> of the previous table -->
    <table class="table total">
        <tr>
            <td> Totale previsto: </td>
            <td class="tableprice"> <b>€ {{ basket.pm.getTotal(basket.closed_ordered_products) }}</b> </td>
        </tr>
    </table>
</div>


