.add_list {
	text-align : left;
	font-size: 14px;
	padding : 0;
	margin-left:18px;
	position:relative;
	right:50px;
	width:150px;
}
.add {
	background-image:url(tasto_add.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:64px;height:20px;
	background-color:transparent;
	border:none;
}

.row {
	height:25px;
	width:100%;
	padding-top:10px;
	text-align:left;
	font:Verdana, Geneva, sans-serif;
	color:#005687;
	text-indent:5px;
	vertical-align:middle;
	font-size:15px;
}
/* WAS LF: border-bottom:1px dotted #ccc; font-weight: bold; */


.subtitle{
	position:absolute;
	height:25px;
	right:60px;	
	vertical-align:top;
}

.hand {cursor: pointer;}
.dataTables_wrapper{width:95%}
td input[type="text"] {max-width: 95%;}
.input_small{width:40px; color: blue;}
.input_short{width:70px; color: blue;}
.input_medium{width:160px; color: green;}
.input_long{width:100%; color: #545453;}
.amount{width:35px; color: yellow-orange;}
span.helptext, .helptext {color: green;font-weight: bold;font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;font-size: 12px; line-height: 20px;}
.button, input[type="submit"], input[type="button"], .submit-row input {cursor: pointer;}
.input_payment{font-size: 16px; color:blue;font-weight: bold;font-family:monospace, "Lucida Grande";text-align: right; width:80px;}
.dataTables_length{width: 95%;}
td input[type="text"].balance {font-size: 20px;font-weight: bold;font-family:monospace, "Lucida Grande";text-align: right; width:100px; color:blue}
.positive, td input[type="text"].positive {color: green;}
.stalled, td input[type="text"].stalled {color: #FF8C00;}
.negative, td input[type="text"].negative {color: red;}
ul li {list-style-type: none;}
#header{height:auto;}
.menu_section {display : table-cell;}
.menu_section h3 {padding : 0 0.5em;
    /*color : white;*/
    background-color: #AFD909; 
    border : 1px solid grey; }
.menu_section ul {background-color: transparent;}
.menu_section li {margin: 0px;
    padding:  5px 10px 5px 10px;
    list-style-type: none;
    background-color: #AFD909;
    border: 1px solid grey;
    text-align:left; }
.menu_section ul {display : none; }
.menu_section ul li {float: none; }
.menu_section:hover ul {display: block; 
    position: absolute;
    font-size: 8pt; 
    /*padding-top: 5px;*/
    /*color:red;*/ 
    z-index:99; }
.menu_section li:hover {background-color: #DCEECD;}
.submenu {max-height : 300px; overflow-y : auto;}
#history_menu h3, #history_menu li,
#settings_menu h3, #settings_menu li {background-color: yellow;}
#help_menu h3, #help_menu li {background-color: orange;}
#history_menu li:hover, #settings_menu li:hover {background-color: lightyellow;}
#user_urn_gasmember h3, #user_urn_gasmember li {background-color: #99ccff;}
#user_urn_gasmember li:hover {background-color: #99ffff;}

.row_action {
    border: 1px dotted #aaa; 
    background-color: #ddd;
    width: 40px; 
    height: 40px;
    background-size : contain;
}
