{% extends "blocks/base/report.html" %}

{%block page_header%}
   <div>
    <h1>Gasista {{ gasmember.id_in_gas }} - {{ gasmember }} - ({{ gasmember.id }})</h1>
    <h2>Stampato da {{ user.person }}</h2>
   </div>
<hr />
{%endblock%}

{%block content%}
<table>
<thead>
    <th>Ordine</th>
    <th>Produttore</th>
    <th>prodotto</th>
    <th>Prezzo</th>
    <th>Quantit&agrave;</th>
    <th>Da pagare</th>
</thead>
<tbody>

    {% for row in records %}
        {% if row.tpayed > 0  %}

            <tr>
                <td>{{row.order}}</td>
                <td>{{row.supplier}}</td>
                <td>{{row.product}}</td>
                <td>{{row.price}}</td>
                <td>{{row.amount}}</td>
                <td>{{row.payed}}</td>
            </tr>

        {%  endif %}
    {%  endfor %}

    <tr>
        <td>TOTALE ORDINE</td>
        <td> </td>
        <td>{{total_amount}}</td>
    </tr>
</tbody>
</table>
{%endblock%}

{%block page_foot%}
<pdf:pagenumber>
{%endblock%}


