{% extends "blocks/base/report.html" %}
{% load i18n %}
{% load basic_tags %}

{%block media%}
<link rel="stylesheet" type="text/css" href="{{ CSS_URL }}nui/style/report.css" />
{%endblock%}

{% block customstyle %}
.head{font-family: Monospace, Arial;}
.sumQta{width:30%}
.sumPricefield{width:40%; font-size:14px;font-weight:bolder;}
.sumPricevalue{width:30%; color: #006400;font-size:18px;font-weight:bold;}
.empty{text-align:center; font-size:1.4em; color:red; font-family: Monospace, Arial; }
.taright{text-align:right;}
.taright th{margin-right:17px; padding-right:17px;}
.tacenter{text-align:center;}
.tbl{width:96%; padding:3px 3px 0px 3px; marging:3px 3px 0px 3px; font-size:12px; vertical-align middle;}
.Prod{border-bottom: solid 2px #C6D7DE; font-weight: bold; font-size: 14px;}
.totProd{border: solid 2px #344960; font-size:14px; text-align: right;}
.alert{color:red;}
.uprice{width: 15%; border: solid 1px #C6D7DE;}
.qta{width: 10%; border: solid 1px #C6D7DE;}
.totprice{width: 20%; color:darkgray;border: solid 1px #C6D7DE;}
.product{border: solid 1px #C6D7DE;}
.tab{width: 5%;}
.note{font-size:1.0em;font-family:courier new; margin:3px 0px 0px 3px;padding:3px 0px 0px 3px; background-color:#FFFFF0;}
{%endblock%}

{%block page_header%}
   <div class="head">
        <h1>{% trans "GASMember" %} {{ gasmember.id_in_gas }} - {{ gasmember }} - ({{ gasmember.id }})</h1>
        <h2>{% trans "StampBy" %} {{ user.person }} {% now "l d F Y H:i" %} </h2>
        <table style="width:96%; ">
            <tr>
                <td style="sumQta"><h2>{% trans "OrderedProducts" %} {{ rec_count }}</h2></td>
                <td class="sumPricefield taright">{% trans "Total cost" %}</td>
                <td class="sumPricevalue taright">&euro; {{total_amount|floatformat:"2"}}</td>
            </tr>
        </table>
   </div>
<hr />
{%endblock%}

{%block content%}
<table class="tbl" border="0" cellpadding="1" cellspacing="1">
{% comment %}
<thead>
    <th>{% trans "Order" %}</th>
    <th>{% trans "Supplier" %}</th>
    <th>{% trans "Product" %}</th>
    <th class="taright">{% trans "Unit price" %}</th>
    <th class="taright">{% trans "Amount" %}</th>
    <th class="taright">{% trans "Total price" %}</th>
</thead>
{% endcomment %}

<tbody>
{% assign ActualProduttore -1 %}
{% assign Last_tot_prod -1 %}

        {% for row in records %}
            {% if ActualProduttore == -1 or ActualProduttore != row.order %}
                {% if ActualProduttore != -1 %}
                    <tr>
                        <td colspan='3'></td>
                        <td class="totProd">&euro; {{Last_tot_prod|floatformat:"2"}}</td>
                        <td></td>
                    </tr>
                {% endif %}
                {% set ActualProduttore = row.order %}
                <tr><td colspan="5"></td></tr>
                <tr>
                    <td colspan='5' class="Prod">(ord.{{row.order}}) {{row.supplier}} {{row.order_description}}</td>
                </tr>
            {% endif %}

            {% set Last_tot_prod = row.tot_prod %}
            {% if row.order_confirmed %}
                <tr>
            {% else %}
                <tr class="alert" >
            {% endif %}
                <td class="tab"></td>
                {% if row.price_changed %}
                    <td class="taright alert uprice">&euro; {{row.price_ordered|floatformat:"2"}} --> {{row.price_delivered|floatformat:"2"}}</td>
                {% else %}
                    <td class="taright uprice">&euro; {{row.price_delivered|floatformat:"2"}}</td>
                {% endif %}
                <td class="taright qta">{{row.amount}}</td>
                <td class="taright totprice">&euro; {{row.tot_price|floatformat:"2"}}</td>
                <td class="product">{{row.product|truncatewords:"200"}}
                {% if row.note %}
                    <div class="note">{{row.note|truncatewords:"69"}}</div>
                {% endif %}
                </td>
            </tr>


            {% if ActualProduttore != -1 and forloop.last %}
                <tr>
                    <td colspan='3'></td>
                    <td class="totProd">&euro; {{row.tot_prod|floatformat:"2"}}</td>
                    <td></td>
                </tr>
            {% endif %}

        {%  endfor %}

</tbody>

</table>
{%endblock%}

{%block page_foot%}
<pdf:pagenumber>

{%endblock%}
