{% extends "blocks/base/report.html" %}
{% load i18n %}

{%block page_header%}
   <div>
    <h1>Ordine {{ order.id }} - {{ order }}</h1>
    <h2>Stampato da {{ user.person }}</h2>
   </div>
<hr />
{%endblock%}

{%block content%}
<table>
<thead>
    <th>Prodotto</th>
    <th>Quantità</th>
    <th>Prezzo</th>
</thead>
<tbody>
    {% for row in records %}
    <tr>
        <td>{{r.product}}</td>
        <td>{{r.tot_amount}}</td>
        <td>{{r.tot_price}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>{% trans "TotOrder" %}</td>
        <td> </td>
        <td>{{total_amount}}</td>
    </tr>
</tbody>
</table>
{%endblock%}

{%block page_foot%}
<pdf:pagenumber>
{%endblock%}


