<!DOCTYPE html>
<html ng-app="ngGF" ng-controller='AppController as app'>
  <head>

    <title>Gasista Felice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ui/css/ngDialog.min.css">
    <link rel="stylesheet" href="/ui/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/ui/css/ngDialog-theme-flat.css">
    <link rel="stylesheet" href="/ui/css/ngDialog-custom.css">
    <link rel="stylesheet" href="/ui/bower_components/leaflet/dist/leaflet.css">
    <script src="/ui/temp.js"></script>

  </head>
  <body>
  <div id="wrap">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="btn-toggle-collapse" type="button" class="navbar-toggle collapsed"
                        ng-click="collapseNavbar()" style="z-index:1000;"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LF: ... inelegante
                    <a href="http://www.befair.it" target="_blank" title="beFair: sostenere lo sviluppo dei territori" class="navbar-brand">
                      <img src="/ui/img/befair.png" alt="beFair: sostenere lo sviluppo dei territori" class="imglogo">
                    </a>
                -->
            <!-- Dropdown with the selected GAS if more than one GAS -->
            <ul class="nav navbar-nav" ng-show="app.dataLoaded">
                <li ng-if="person.gas_list[1]" class="dropdown" dropdown>
                    <a href="#" dropdown-toggle role="button"> {{gas_active.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="gas in person.gas_list | orderBy: gas.name" ng-show="gas != gas_active">
                            <a href="#" ng-click="gas_active = gas"> {{ gas.name }} </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="person.gas_list[1] === undefined"> <a href="#" role="button"> {{gas_active.name}} </a> </li>
            </ul>
            </div>

            <div class="collapse navbar-collapse" collapse="navbar.isCollapsed">
                <ul class="nav navbar-nav" ng-show="app.dataLoaded">
                    <li markable ng-class="{ active: active_section == 'order'}" ng-click="active_section='order';">
                        <a ng-link="order()" href=""> <span class="glyphicon glyphicon-book"></span> Ordinare </a>
                    </li>
                    <li markable ng-class="{ active: active_section == 'basket'}" ng-click="active_section='basket';">
                        <a ng-link="basket()" href=""> <span class="glyphicon glyphicon-shopping-cart"></span> Paniere </a>
                    </li>
                    <li markable ng-class="{ active: active_section == 'cash'}" ng-click="active_section='cash';">
                        <a ng-link="cash()" href=""> <span class="glyphicon glyphicon-euro"></span> Conto </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="app.isAuth()">
                    <li style="padding-right: 0.5em"><span>
                         <img src="/ui/img/user_pic.png" alt="Il mio profilo" class="imgpic">
                         <a ng-link="profile()" href="" title="Il mio profilo"> {{ person.display_name }} </a>
                    </span></li>
                    <li>
                        <button type="button" id="btn-admin" class="btn btn-default btn-lg" aria-label="Gestione" ng-click="app.go_to_admin()">
                           <span class="glyphicon glyphicon-cog" id="glyph-admin" aria-hidden="true"></span>
                           Gestione
                        </button>
                        <button type="button" id="btn-logout" class="btn btn-default btn-lg" aria-label="Esci" ng-click="app.logout()">
                           <span class="glyphicon glyphicon-off" id="glyph-off" aria-hidden="true"></span>
                           Esci
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="subnav" ng-show="app.isAuth()">
            <span class="cash-current">Saldo: {{ gm.balance | currency }} </span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="cash-after-delivery"> Dopo la consegna: {{ gm.balance - gm.total_basket_to_be_delivered - gm.total_basket | currency}} </span>
        </div>
      </nav>

      <div class="cont-gas" style="margin-top: 4em"> <!-- Container -->
        <!-- 1° row -->

        <p style="text-align:center" ng-hide="app.dataLoaded" ng-if="app.isAuth()">
            Un attimo che carico...
            <i class="fa fa-spinner fa-spin"></i>
        </p>

        <div ng-if="app.dataLoaded" class="first_block"><!-- 1° col-md-8 -->
            <div class="tab-content tab-gas">

                <!-- this is where content will be injected -->
                <div ng-viewport> </div>
            </div>
        </div><!-- /1° col-md-8 -->

        <div ng-if="!app.isAuth()" class="first_block"><!-- 1° col-md-8 -->
            <div id="cont_login">
                <h4>Benvenuto gasista!</h4>
                <!-- TODO @veon82 <li><a href="/#/signup">Sign up</a></li> -->
                <form class="col s12">
                    <table>
                        <tr>
                            <td> <label for="username">utente</label> </td>
                            <td> <input ng-model="app.username" id="username" type="text" class="validate"> </td>
                        </tr>
                            <!-- <div class="input-field col s12">
                                </div> -->
                        <tr>
                            <td> <label for="password">password</label> </td>
                            <td> <input ng-model="app.password" id="password" type="password" class="validate"> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>
                                <button class="btn btn-default btn-lg" ng-click="app.login()" type="button" id="go" aria-label="Entra">
                                <span class="glyphicon glyphicon-thumbs-up" id="glyph-go" aria-hidden="true"></span>
                                    Entra
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="map" ng-controller="MapController">
            </div>
        </div><!-- /1° col-md-8 -->

        <!-- 1° row -->

      </div> <!-- /Container -->

    </div><!-- /Wrap -->

    <div id="footer">
        <div class="container">
            <p class="text-muted">GASISTA FELICE v{{ appVersion }}</p>
        </div>
    </div>

    <script src="/ui/bower_components/angular/angular.min.js"></script>
    <script src="/ui/bower_components/angular-new-router/dist/router.es5.min.js"></script>
    <script src="/ui/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/ui/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/ui/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/ui/bower_components/satellizer/satellizer.min.js"></script>
    <script src="/ui/bower_components/lodash/lodash.min.js"></script>

    <script src="/ui/js/angular-locale_it-it.js"></script>
    <script src="/ui/js/ngDialog.min.js"></script>

    <script src="/ui/app.js"></script>
    <script src="/ui/components/map/map.js"></script>
    <script src="/ui/components/order/order.js"></script>
    <script src="/ui/components/basket/basket.js"></script>
    <script src="/ui/components/cash/cash.js"></script>
    <script src="/ui/components/profile/profile.js"></script>

</body>
</html>
